@layer fonts {
    @font-face {
        font-family: 'Inter Regular';
        src: url("assets/fonts/static/Inter-Regular.ttf");
    }
    @font-face {
        font-family: 'Inter Bold';
        src: url("assets/fonts/static/Inter-Bold.ttf");
    }
    @font-face {
        font-family: 'Inter Extra Bold';
        src: url("assets/fonts/static/Inter-ExtraBold.ttf");
    }
}

@layer colors {
    :root {
        --almost-white: #FFFDFA;
        --dark-space-blue: #00001A;
        --gunmetal: #5E607A;
        --light-vermillion: #F15D51;
        --silver: #C5C6CE;
        --yellow: #E9AA52;
    }
}

@layer typography {
    :root {
        --fs-xl: calc(56 / 16 * 1rem);
        --fs-lg: calc(40 / 16 * 1rem);
        --fs-md: calc(32 / 16 * 1rem);
        --fs-sm: calc(20 / 16 * 1rem);
        --fs-xs: calc(18 / 16 * 1rem);
        --fs-xxs: calc(15 / 16 * 1rem);

        --lh-xl: calc(56 / 16 * 1rem);
        --lh-lg: calc(40 / 16 * 1rem);
        --lh-md: calc(32 / 16 * 1rem);
        --lh-sm: calc(24 / 16 * 1rem);
        --lh-xs: calc(24 / 16 * 1rem);
        --lh-xxs: calc(26 / 16 * 1rem);
    }
}

@layer global {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }

    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    img,
    picture {
        max-width: 100%;
        display: block;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: currentColor;
    }

    p {
        font-family: 'Inter Regular' , serif;
        font-size: var(--fs-xxs);
        line-height: var(--lh-xxs);
    }
}

@layer layout {
    body {
        display: grid;        
        grid-template-columns: calc(16 / 16 * 1rem) 1fr calc(16 / 16 * 1rem);

        > * {
            grid-column: 2;
        }

        @media (width >= calc(1110 / 16 * 1rem)) {
            grid-template-columns: 1fr calc(1100 / 16 * 1rem) 1fr;
        }
    }
}

@layer navigation {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-block: calc(28 / 16 * 1rem);

        .nav__overlay {
            position: fixed;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;

            display: none;
        }

        .nav__menu {
            position: fixed;
            top: 0;
            right: 0;
            width: calc(256 / 16 * 1rem);
            height: 100svh;
            padding-inline: calc(24 / 16 * 1rem);
            z-index: 2;

            background-color: #FFFDFA;

            translate: 100% 0;
            transition: translate 0.5s ease-in-out;

            @media (width >= 40em) {
                position: static;
                translate: 0;
                width: auto;
                height: auto;
            }

            @media (width < 40em) and (prefers-reduced-motion) {
                translate: 0;
                opacity: 0;
                transition: opacity 500ms ease-in-out;
            }
        }

        .nav__links { 
            display: flex;
            flex-direction: column;
            gap: calc(24 / 16 * 1rem);

            @media (width >= 40em) {
                flex-direction: row;
            }
        }

        .nav__item {
            color: var(--gunmetal);
            font-family: 'Inter Regular', sans-serif;
            font-size: var(--fs-xs);

            @media (width > 40em) {
                font-size: var(--fs-xxs);
            }
        }

        .nav__item:hover {
            color: var(--light-vermillion);
        }

        .nav__open {
            @media (width >= 40em) {
                display: none;
            }
        }

        .nav__open[aria-expanded='true'] ~ .nav__menu {
            translate: 0;

            @media (prefers-reduced-motion) {
                opacity: 1;
            }
        }

        .nav__open[aria-expanded='true'] ~ .nav__overlay {
            display: block;
        }

        .nav__close {
            display: block;
            margin-inline-start: auto;
            margin-block-start: calc(27 / 16 * 1rem);
            margin-block-end: calc(86 / 16 * 1rem);
            background: none;

            @media (width >= 40em) {
                display: none;
            }
        }

        @media (width >= calc(1110 / 16 * 1rem)) {
            .nav__links {
                display: flex;
                gap: calc(40 / 16 * 1rem);
            }
        }

    }
}

@layer hero {
    .hero {
        display: grid;
        gap: calc(64 / 16 * 1rem);
        margin-block-end: calc(64 / 16 * 1rem);

        .top-story {
            display: grid;
            gap: calc(24 / 16 * 1rem);

            position: relative;

            .top-story__image {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .top-story__content {
                display: grid;
                gap: calc(16 / 16 * 1rem);


                h1 {
                    font-family: 'Inter Extra Bold', serif;
                    font-size: var(--fs-lg);
                    line-height: var(--lh-lg);
        
                    @media (width >= 40em) {
                        font-size: var(--fs-xl);
                        line-height: var(--lh-xl);
                    }
                }

                p {
                    color: var(--gunmetal);
                }
            }

            .top-story__cta {
                padding: calc(13 / 16 * 1rem) calc(35 / 16 * 1rem);
                background-color: var(--light-vermillion);
                color: var(--dark-space-blue);
                text-transform: uppercase;
                font-family: 'Inter Bold' , serif;
                line-height: var(--lh-xs);
                letter-spacing: 4.38px;
                width: fit-content;
                cursor: pointer;
            }

            .top-story__cta:hover {
                color: var(--almost-white);
                background-color: var(--dark-space-blue);
            }
        }

        .new-stories {
            background-color: var(--dark-space-blue);
            padding: calc(24 / 16 * 1rem) calc(20 / 16 * 1rem);

            h2 {
                font-family: 'Inter Bold', serif;
                font-size: var(--fs-md);
                line-height: var(--lh-md);
                color: var(--yellow);
                margin-block-end: calc(35 / 16 * 1rem);
            }

            .new-story {
                padding-block: calc(30 / 16 * 1rem);
                border-bottom: 1px solid var(--gunmetal);

                h3 {
                    font-family: 'Inter Extra Bold' , serif;
                    font-size: var(--fs-sm);
                    line-height: var(--lh-sm);
                    color: var(--almost-white);

                    cursor: pointer;
                }

                h3:hover {
                    color: var(--yellow);
                }

                p {
                    margin-block-start: calc(8 / 16 * 1rem);
                    color: var(--silver);
                }
            }

            .new-story:first-child {
                padding-block-start: 0;
            }

            .new-story:last-child {
                padding-block-end: 0;
                border-bottom: none; 
            }
        }
        

        @media (width > calc(768 / 16 * 1rem)) {
            grid-template-columns: 1fr calc(350 / 16 * 1rem);
            gap: calc(30 / 16 * 1rem);

            .top-story {
                grid-column: 1;

                h1 {
                    font-size: var(--fs-xl);
                    line-height: var(--lh-xl);
                }
            }

            .new-stories {
                grid-column: 2;

                h2 {
                    font-size: var(--fs-lg);
                    line-height: var(--lh-lg);
                }
            }
        }

        @media (width >= calc(900 / 16 * 1rem)) {

            .top-story__content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 2fr 1fr;

                h1 {
                    grid-column: 1;
                    grid-row: 1 / -1;
                }

                p {
                    grid-column: 2;
                    grid-row: 1;
                }
            }

            .top-story__cta {
                position: absolute;
                bottom: 0;
                left: 50%;
            }

        }
    }

}

@layer more-stories {
    .more-stories {
        display: grid;
        gap: calc(32 / 16 * 1rem);
        grid-template-columns: repeat(auto-fill, minmax(min(calc(350 / 16 * 1rem), 100%), 1fr));

        li {
            display: grid;
            grid-template-columns: calc(100 / 16 * 1rem) 1fr;
            column-gap: calc(24 / 16 * 1rem);

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .story-content {
                display: grid;
                gap: calc(12 / 16 * 1rem);
                
                span {
                    font-family: 'Inter Bold', serif;
                    font-size: var(--fs-md);
                    line-height: var(--lh-md);
                    color: var(--light-vermillion);
                }

                h3 {
                    font-family: 'Inter Extra Bold', serif;
                    font-size: var(--fs-xs);
                    line-height: var(--lh-xs);
                    color: var(--dark-space-blue);

                    cursor: pointer;
                }

                h3:hover {
                    color: var(--light-vermillion);
                }

                p {
                    color: var(--gunmetal);
                }
            }
            
        }

        @media (width > calc(769 / 16 * 1rem)) {
            gap: calc(30 / 16 * 1rem);
        }

        @media (width >= calc(1100 / 16 * 1rem)) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@layer footer {
    footer {
        text-align: center;
        margin-block: calc(24 / 16 * 1rem);
        font-family: 'Inter Regular' ,serif;
        font-size: clamp(calc(12 / 16 * 1rem), calc(8 / 16 * 1rem) + 1vw, calc(16 / 16 * 1rem));
    }
}